@font-face {
  font-family: 'Sora-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Sora/Sora-Regular.ttf');
}

@font-face {
  font-family: 'Sora-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Sora/Sora-ExtraBold.ttf');
}

:root {
  /** primary **/
  --ion-color-primary: #8A4B38;
  --ion-color-primary-contrast: #D99E82;
  --ion-color-black: #FFFFFF;
  --ion-color-black-shade: #F5F8FA;
  --ion-color-black-light: #CCD6DD;
  --ion-color-light: #CCD6DD;

}