@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";

// ion-item{
//     --background-color: red!important;
//     --background: transparent!important;
//     border: none!important;
//     --inner-border-width: 0px;
// }

// ion-list{
//     background-color: transparent!important;
// }

.scanner-ui {
  display: none;
}
.scanner-hide {
  visibility: visible;
}

body.qrscanner {
  background-color: transparent;
}
body.qrscanner .scanner-ui {
  display: block;
}
body.qrscanner .scanner-hide {
  visibility: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  --ion-font-family: "Sora-Regular";
}

ion-icon {
  font-size: 40px;
}

ion-item {
  width: 95%;
  margin: 33px 0;
}

.image {
  display: block;
  text-align: center;

  img {
    width: 30%;
  }
}

ion-button {
  margin: 25px;
}

.toolbar {
  background-color: var(--ion-color-primary);
}

ion-toolbar{
  --background: ;
}
