@import "~@ionic/angular/css/core.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";

ion-item{
    --background-color: red!important;
    --background: transparent!important;
    border: none!important;
    --inner-border-width: 0px;
}

ion-list{
    background-color: transparent!important;
}

body{
    --ion-font-family: 'Sora-Regular';
}

#swiper{
   ion-card{
    height: 70vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    #imgHolder{
        height: 100%;
        display: flex;
        justify-content: end;
        flex-direction: column;
        background-color: #eeeeee;
        img{
            object-fit: fill;
        }
    }
    #productName{
        font-size: 26px;
        text-align: left;
        font-family: 'Sora-ExtraBold';
       }
    #productPrice{
        display: flex;
       #is{
        font-size: 32px;
        text-align: right;
        font-family: 'Sora-ExtraBold';
       }
       #was{
        opacity: 0.5;
        font-size: 22px;
        text-align: right;
        margin: 25px 0px 0px 0px;
        font-family: 'Sora-Regular';
        text-decoration: line-through;
       }
    }
    #actions{
        display: flex;
        flex-direction: row;
        justify-content: end;
        #actionButton{
            color: #eeeeee;
        }
    }
   }
}