<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigate()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title> MANAGE FLAVOURS </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="barcode-outline" (click)="Scan()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="submitFlavour(form.value)">
    <ion-item>
      <ion-input
        name="Barcode"
        type="text"
        placeholder="barcode"
        ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="name"
        type="text"
        placeholder="flavour name"
        ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="PricePerBox"
        type="number"
        placeholder="price_per_box"
        ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="PricePerPod"
        type="number"
        placeholder="price_per_pod"
        ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="PodsPerBox"
        type="number"
        placeholder="pods_per_box"
        ngModel
        required
      ></ion-input>
    </ion-item>

    <span class="image">
      <img src="{{image}}" (click)="takePicture()" />
    </span>

    <ion-button size="large" type="submit" expand="block">ADD FLAVOUR</ion-button
    >
  </form>
</ion-content>
